<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>URL Detector</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="bg"></div>
  <header>
    <a href="#" class="logo"><img src="{{ url_for('static',filename='logo.png')}}" alt="logo" class="img-fluid"></a>
    <input type="checkbox" id="menu-btn" class="menu-btn">
    <label for="menu-btn" class="menu-icon"><span class="menu-icon__line"></span></label>
    
    <ul class="nav-links">
      <li class="nav-link"><a href="https://inboxpraveen.github.io/" target="_blank">More Projects</a></li>
    </ul>
    
  </header>

  <div class="hero">
    <h2>URL Detector - Legitimate VS Mallicious</h2>
    <p>Just paste the URL you are concerned with and let AI help you decide should you continue to visit the URL or not.</p>
    <form action="{{ url_for('detect_url') }}" method='POST'>
      <input autocomplete='on' type="text" id='url_search' name='url_search' placeholder="Enter a URL to search" required/>
      <input type="submit" id="submit_button" value="submit" />
    </form>
  </div>

  <div class=”footer-content”>
    <h3>About Me</h3>
    <p>Hello! I am Praveen, a Artificial Intelligence Engineer at TrellisSoft based on Bangalore, India.</p>
    <p>Do you like what you see? Help me buy a cup of coffee.<i class="fa fa-coffee"></i></p>
  </div>

</body>
</html>