<!DOCTYPE html>
<html lang="en" class="lang=">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1">
  <title>URL Detector</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li id="nav-about"><a href="#about">About</a></li>
            <li id="nav-contact"><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Begin page content -->
    <div class="container-fluid">
      <div class="row cover top">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12 headline">
              <h1 class="text-center">URL Detector</h1>
              <p class="lead text-center">Simple AI tool which reports if a URL is Legitimate (or) Malicious</p>
              <form class="my_form text-center" action="{{ url_for('detect_url') }}" method="POST">
                <input class="form_input_url text-center" type="text" name="url_search" id="url_search" placeholder="Enter a URL to detect" required />
                <button type="submit" class="form_input_url_btn btn">Detect</button>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 center-block text-center">
              <a href="#about"><span id="scrollIcon" class="front-glyph glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
            </div>
          </div>
        </div>
      </div>
      
      <div id="about" class="row cover">
        <h2 class="text-center">About Me</h2>
        <div class="row">
          <div class="col-md-6 text-center about-info">
            <img class="img-circle text-center profile-img" src="{{ url_for('static',filename='hero.png') }}">
            <p class="text-center">Hi, I'm Praveen Kumar, a Bachelor of Engineering in Computer Science. I am a Artificial Intelligence Engineer at TrellisSoft and a research enthusiast working into Deep Learning fields of NLP, Speech Recognition, Attention Models, and Question-Answering Systems.</p>
            <p class="text-center">I love to engage with professionals & discuss ideas, diving into technical research papers, and content creation on social media platforms. I enjoy playing football & experiment life with fun along the journey.</p>
          </div>
          <div class="col-md-6 about-tools">
            <p class="text-center">Here's a few of the tools &amp; technology I frequently work with</p>
              <div class="col-xs-6">
                <ul>
                  <li>Natural Language Processing</li>
                  <li>Speech Recognition</li>
                  <li>Python 3.x</li>
                  <li>Docker Containers</li>
                </ul>
              </div>
              <div class="col-xs-6">
                <ul>
                  <li>Git &amp; Github</li>
                  <li>AWS Instances &amp; Management</li>
                  <li>Linux Operating System</li>
                  <li>Kaggle Competitions</li>
                </ul>
              </div>
          </div>
        </div> 
      </div><!-- End #About -->

      <div id="contact" class="row cover bottom">
        <h2 class="text-center contact-header">Contact Me</h2>
        <p class="text-center contact-email"><i class="fa fa-envelope"></i> &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;&nbsp; <a href="mailto:inbox.praveen.kumar17@gmail.com">inbox.praveen.kumar17@gmail.com</a></p>
        <div class="text-center contact-social-icons">
          <br>
          <ul class="centered">
            <a href="https://inboxpraveen.github.io"><li><i class="fa fa-globe"></i> Portfolio</li></a>
            <a href="https://www.linkedin.com/in/praveen-kumar-inbox"><li><i class="fa fa-linkedin-square"></i> LinkedIn</li></a>
            <a href="https://github.com/inboxpraveen"><li><i class="fa fa-github"></i> Github</li></a>
            <a href="https://twitter.com/inboxpraveen"><li><i class="fa fa-twitter"></i> Twitter</li></a>
          </ul>
        <br><br>
        <div id="demo-modal" class="modal" role="dialog" tabindex="-1">
          <div class="model-inner">
            <div class="modal-header">
              <h3>Sleep. Code. Coffee. Repeat.</h3>
              <button class="modal-close" data-id="demo-modal" aria-label="Close">
              &times;
              </button>
            </div>
            <p class="text-center">Share your love and gratitude to keep me motivated for designing such eligant AI web applicaitons.</p>
            <a href="upi://pay?pa=inbox.praveen.kumar17@okaxis&amp;pn=Praveen Kumar &amp;cu=INR" class="upi-pay1">Pay a penny!</a>
          </div>
        </div>
        <button class="modal-open" data-id="demo-modal"><i class="fa fa-coffee"></i> Buy me a cup of coffee?</button>
      </div><!-- End #Contact -->
    </div>
  </div>

  </body>
<!-- partial -->
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script>
<script src='https://cdn.jsdelivr.net/jquery.scrollto/2.1.0/jquery.scrollTo.min.js'></script>
<script  src="{{ url_for('static',filename='jss/script.js') }}"></script>

</body>
</html>
